body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

input, textarea {
    width: 100%;
    margin: 7px 0;
    font-size: 22px;
}

#resultado {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    transition: left 0.3s;
    /* Para um efeito suave */
}

.card:hover {
    background-color: #f0f0f0;
}
.dark .card:hover {
    background-color: #141210a1;
}

.card.expanded {
    position: relative;
    height: 100vh;
    /* Altera para a altura total da viewport */
    overflow-y: auto;
    /* Permite rolagem se necessário */
    left: 5%;
    max-width: 94%;
}

.card-content {
    height: 80%;
    margin-top: 10px;
    width: 100%;
    border: none;
}

iframe {
    height: 90%;
    width: 100%;
    border: none;
    display: block;
}

/*inicio temas*/
#toggleTema {
    width: 49px;
    height: -1px;
    font-size: 10pxx;
    background-color: transparent;
    border: 0px solid #007BFF;
    color: #007BFF;
    padding: 0px 0px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#toggleTema:hover {
    background-color: transparent;
    /* Cor de fundo ao passar o mouse */
    color: rgb(191, 173, 160);
    /* Cor do texto ao passar o mouse */
}

#imagem{
    font-size: 10px;
}

/* Estilos para o tema claro */
body {
    background-color: white;
    color: black;
}


.card {
    background-color: white;
    /* Cor do cartão claro */
}
#nota {
    height: 50px;
    font-size: 12px;
    background-color: rgb(247, 248, 243);
    border: none;
    border-radius: 3px;
    color: rgb(36, 35, 35);
}

/* Estilos para o tema escuro */
body.dark {
    background-color: #121212;
    /* Cor de fundo escura */
    color: white;
    /* Cor do texto clara */
}
/* Estilos para cartões no tema escuro */
body.dark .card {
    background-color: #1e1e1e;
    color: white;
    /* Cor do cartão escura */
}
.dark #nota {
    height: 50px;
    font-size: 12px;
    background-color: rgb(70, 62, 62);
    border: none;
    border-radius: 3px;
    color: whitesmoke;
}
.dark #titulo{
    background-color: rgb(70, 62, 62);
    border: none;
    border-radius: 3px;
    color: whitesmoke;
}
.dark #pesquisar{
    background-color: rgb(70 62 62 / 66%);
    border: none;
    position: relative;
    left: 7px;
    border-radius: 3px;
    color: whitesmoke;
}
#pesquisar{
    position: relative;
    left: 7px;
    background-color: rgba(247, 248, 243, 0.525);
    border-radius: 3px;
    
}
/*final temas*/


/* Para temas escuros */
.dark textarea::placeholder {
    color: white; /* Muda a cor do placeholder para branco */
    opacity: 0.7; /* Opcional: ajusta a opacidade do placeholder */
}
.dark input::placeholder {
    color: white; /* Muda a cor do placeholder para branco */
    opacity: 0.7; /* Opcional: ajusta a opacidade do placeholder */
}
.form-control{
    color: white;
}
#topo {
    position: sticky;
    top: 3px;
    left: 0;
    right: 0;
    background-color: #ffffffb5; /* Ou a cor que preferir */
    z-index: 1000; /* Garante que fique acima de outros elementos */
    padding: 0px; /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}
.dark #topo {
    position: sticky;
    top: 3px;
    left: 0;
    right: 0;
    background-color: #121212b5; /*Ou a cor que preferir */
    z-index: 1000; /* Garante que fique acima de outros elementos */
    padding-left: 4px; /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}
.text-center {
    font-family: serif;
}
